<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  <link rel="stylesheet" href="../../public/css/jass.css">
  <link rel="stylesheet" href="../../public/css/style.css">
</head>
<header>
    <nav>
        <a href="/">Home</a>
        <a href="/dashboard">Dashboard</a>
        {{#if logged_in}}
        <a href="/dashboard">Dashboard</a> |
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
    </nav>
</header>
<body>
     {{{ body }}}
</body>

<div>
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>
</div>

</html>