<div id="posts">

   

    {{#each posts as | post |}}

    <a href="/posts/{{post.id}}">{{post.title}}</a>

    <p>{{date_created}}</p>

    {{!-- <p>{{name}}</p> --}}

    {{/each}}

</div>
<script src="js/posts.js"></script>

